* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  background-color: antiquewhite;
  padding: 80px;
  gap: 2em;
}

header h1 {
  font-size: 32px;
  margin-bottom: 0.5em;
}
header h2 {
  font-size: 24px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  padding: 20px;
  background-color: white;
  border-radius: 0.5em;
  text-align: center;
  gap: 2em;
}

.numberToGuess {
  font-size: 2.4em;
}

.userGuess {
  display: flex;
  align-items: center;
  gap: 1em;
}

input {
  height: 3em;
  width: 4em;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  border: none;
  cursor: pointer;
  font-family: inherit;

  padding: 0.3em 1em;
  font-size: 1.2em;
  border-radius: 6px;
  text-decoration: none;
}
.display {
  display: none;
}
